@import url(http://fonts.googleapis.com/css?family=Ruda:400,700,900);
/* BASIC THEME CONFIGURATION */
.nav{font-size:14pt;}
ul li {
    list-style: none;

}
a, a:hover, a:focus {
    text-decoration: none;
    outline: none;

}
hr {
    margin-top: 20px;
    margin-bottom: 20px;
    border: 0;
    border-top: 1px solid #797979;
}
.centered {
    text-align: center;
}
.mt {
    margin-top: 25px;
}


/*sidebar navigation*/

#sidebar {
    width: 210px;
    height: 100%;
    position: fixed;
    background: #424a5d;

}

#sidebar h5 {
    color: #f2f2f2;
    font-weight: 700;
}

#sidebar ul li {
    position: relative;

}

#sidebar .sub-menu > .sub li  {
    padding-left: 32px;

}

#sidebar .sub-menu > .sub li:last-child {
    padding-bottom: 10px;
}
.nav-collapse.collapse {
    display: inline;
}

ul.sidebar-menu , ul.sidebar-menu li ul.sub{
    margin: -2px 0 0;
    padding: 0;
}

ul.sidebar-menu {
    margin-top: 75px;

}

#sidebar > ul > li > ul.sub {
    display: none;
}

#sidebar > ul > li.active > ul.sub, #sidebar > ul > li > ul.sub > li > a {
    display: block;

}

ul.sidebar-menu li ul.sub li{
    background: #424a5d;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
}

ul.sidebar-menu li ul.sub li:last-child{
    border-radius: 0 0 4px 4px;
    -webkit-border-radius: 0 0 4px 4px;
}

ul.sidebar-menu li ul.sub li a {
    font-size: 12px;
    padding: 6px 0;
    line-height: 35px;
    height: 35px;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    transition: all 0.3s ease;
    color: #aeb2b7;
}

ul.sidebar-menu li ul.sub li a:hover {
    color: white;
    background: transparent;
}

ul.sidebar-menu li ul.sub li.active a {
    color: #68dff0;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    transition: all 0.3s ease;
    display: block;
}

ul.sidebar-menu li{
    /*line-height: 20px !important;*/
    margin-bottom: 5px;
    margin-left:10px;
    margin-right:10px;
}

ul.sidebar-menu li.sub-menu{
    line-height: 15px;
}

ul.sidebar-menu li a span{
    display: inline-block;
}

ul.sidebar-menu li a{
    color: #aeb2b7;
    text-decoration: none;
    display: block;
    padding: 15px 0 15px 10px;
    font-size: 12px;
    outline: none;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

ul.sidebar-menu li a.active, ul.sidebar-menu li a:hover, ul.sidebar-menu li a:focus {
    background: #68dff0;
    color: #fff;
    display: block;

    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    transition: all 0.3s ease;
}


ul.sidebar-menu li a i {
    font-size: 15px;
    padding-right: 6px;
}

ul.sidebar-menu li a:hover i, ul.sidebar-menu li a:focus i {
    color: #fff;
}

ul.sidebar-menu li a.active i {
    color: #fff;
}
#main-content {
    margin-left: 210px;
}

.wrapper {
    display: inline-block;
    margin-top: 60px;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 15px;
    padding-top: 0px;
    width: 100%;
}
.ds {
    background: #D8D9DB;
    padding-top: 0px;
    margin-left:850px;

}

.ds h4 {
    font-size: 14px;
    font-weight: 700;
}

.ds h3 {
    color: #ffffff;
    font-size: 16px;
    padding: 0 10px;
    line-height: 60px;
    height: 60px;
    margin: 0;
    background: #54BBBE;
    text-align: center;
}

.ds i {
    font-size: 12px;
    line-height: 16px;
}

.ds .desc {
    border-bottom: 1px solid #eaeaea;
    display: inline-block;
    padding: 15px 0;
    width: 100%;
}

.ds .desc:hover {
    background: #f2f2f2;
}
.ds .details {
    width: 170px;
    float: left;
}

.ds > .desc p {
    font-size: 11px;
}

.ds p > muted {
    font-size: 9px;
    text-transform: uppercase;
    font-style: italic;
    color: #666666
}

.ds a {
    color: #68dff0;
}
.site-footer {
    background: #54BBBE;
    color: #fff;
    padding: 10px 0;
}
.go-top {
    margin-right: 1%;
    float: right;
    background: rgba(255,255,255,.5);
    width: 20px;
    height: 20px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
}

.go-top i {
    color: #2A3542;
}
/*Login*/
#login{
    background-color:#40BCB1;
}
.form-login {
    max-width: 330px;
    margin: 100px auto 0;
    background: #fff;
    border-radius: 5px;
    -webkit-border-radius: 5px;
}

.form-login h2.form-login-heading {
    margin: 0;
    padding: 25px 20px;
    text-align: center;
    background: #474C4B;
    border-radius: 5px 5px 0 0;
    -webkit-border-radius: 5px 5px 0 0;
    color: #fff;
    font-size: 20px;
    text-transform: uppercase;
    font-weight: 300;
}
.login-wrap {
    padding: 20px;
}
.login-wrap .registration {
    text-align: center;
}
.login-social-link {
    display: block;
    margin-top: 20px;
    margin-bottom: 15px;
}

#btngiris{
    font-size:14pt;
    background-color:#68E166;
}
.modal-header {
    background: #68dff0;
}

.modal-title {
    color: white;
}





